# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

runtime

# 环境变量文件 (通常包含敏感信息，如数据库密码)
.env
.env.local
.env.*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# JetBrains 系列
.idea/

# VS Code
.vscode/
*.code-workspace

# Vim
*.swp
*.swo

# 依赖目录 (Go Modules 模式下通常不提交 vendor)
vendor/

configs/app.yaml
configs/tasks.yaml